h2{
   color: rgb(63, 61, 61);
  font-family: sans-serif;
}
 header{
   background:lightgrey ;
    height: 300px;
    width: 600px;
    -webkit-border-radius: 0px 0px 300px 300px;
    -moz-border-radius: 0px 0px 300px 300px;
    margin: auto;  
 }

header cursor{
   color: white;
   font-weight: bolder;
}
header .current{
   color: rgb(240, 223, 223);
   font-weight: bolder;
   border-right: solid 1px white;
}
 header a:hover{
    color: white;
    font-weight: bolder;
 }
body{
   background-image: url(bg.png);
   font-family: sans-serif;
   font-size: medium;
   padding: 0px;
   margin: 0px;
   text-align: center;
}

main{
   width: 800px;
   margin: auto;
}

.portfolio{
   font-size: 100px;
   background-image: url("bg.png");
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   position: relative;
   
}

.portfolio2{
   font-size: 30px;
   background-image: url("bg.png");
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   position: relative;
}
.social{
   position: absolute;
   top: 100;
   margin-left: 30%;
   margin-bottom: 20%;
   z-index: 9999;
}

.social1{
   position: absolute;
   margin-left: auto;
   margin-bottom: auto;
   z-index: auto;
}

.social:hover{
   opacity: 0.5;
}

.navi{
   display: inline-block;
   background-color:lightgrey;
   padding: 9px 9px 9px 9px;
   position: fixed;
   right: 50px;
   top: 0;
   border-radius: 0px 0px 5px 5px;
   border-right: solid 1px white;
   z-index: 9999;
}

.navi1{
   color:darkgrey;
   font-weight: bolder;
   border-right: solid 1px white;
}

.navi2{
   color:darkgrey;
   font-weight: bolder;
   border-right: solid 1px white;
}
.navi3{
   color:darkgrey;
   font-weight: bolder;
   border-right: solid 1px white;
}

.Kontakt{
   color: #f3c6b1;
   font-size: 19pt;
   font-weight: bolder;
   margin-top: 4
   00px;
   margin-left: 100px;
   text-align: left;

}

.formular{
   background: lightgrey;
   font-size: 9pt;
   font-weight: bolder;
   color: white;
   width: 200px;
   padding: 5px 5px 5px 5px;
   margin-left: 100px;
   text-align: left;
}

.formular2{
   background: lightgrey;
   font-size: 9pt;
   font-weight: bolder;
   color: white;
   width: 300px;
   padding: 5px 5px 20px 5px;
   margin-left: 100px;
   text-align: left ;
}

.Datenschutz{
   font-size: 7pt;
   color: lightgrey;
   margin-left: 100px;
   text-align: left;
}

.absenden{
   font-size: 9pt;
   font-weight: bolder;
   color: white;
   background: lightgray;
   width: 55px;
   padding: 5px 7px 5px 7px;
   margin-left: 100px;
}